@import '../abstracts/variables';
.footer-menu{
   background-color: $base_color;   
   padding: 1.5rem 0;   
   ul{
      margin: 0;      
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      color: #181616;  
      a{
         text-decoration: none;
         color: #fff; 
         transition: color .5s ease-in-out; 
         &:hover{
            color:#000;
            
         }       
      }
   }   
}
.footer{
   text-align: center;
   
   color: #000;
   padding: 1rem;
}