.hakkimizda-active{
   color:#000;
}

.between{
   height: 1rem;
   background-color: #E60012;
}


.banner-img{
   text-align: center;
   img{      
      max-width: 100%;
      height: auto;
      @media screen and (max-width:996px) {
        object-fit: cover;
        width: 100%;
        height: 30vh;
      }
   }
}


.tarihce{
   margin-left: 1rem;
   &___baslik{
      margin: 1rem 0;
   }
}

.images{
   figure{
      text-align: center;
      figcaption{
         margin-top: 1rem;
      }
   }
}