.rezervation{
   margin-top: 2rem;
   background: #E60012;   
   padding: 1rem 0;
   color:#E7E7E9;

   &__content{
      display: grid;
      /* 4 columuns 
         2 rows
      */
      grid-template-areas: 'rezervasyon rezervasyon sosyal sosyal'
                           'img phone takip takip';  
      @media screen and(max-width:768px) {
         grid-template-areas:'rezervasyon rezervasyon' 
                              'img phone'
                              'sosyal sosyal' 
                              'takip takip';          
      } 
      /* row-gap: her satır arası boşluk 
         column-gap: her sütun arası boşluk
      */                        
      row-gap: 10px;
      column-gap: 20px;
      justify-content: center;
      .content__rezervasyon,.content__sosyal{
         font-size: 1.3rem;
         
      }
      .content__img{
         grid-area: img;         
         text-align: center;                
      }
      .content__rezervasyon{
         grid-area: rezervasyon;
         text-align: center;         
      }
      .content__sosyal{
         grid-area: sosyal;
         text-align: center;         
      }
      .content__phone{
         grid-area: phone;
         text-align: center; 
                  
      }
      .content__takip{
         grid-area: takip;
      }

   }

}
