@import '../abstracts/variables';

.topMenu{
   background-color: $base_color;   
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: center;
   color: #181616;   
   .svg{
      img{
         width: 1920px;
         @media screen and (max-width:996px) {
            width: 997px;
         }
         @media screen and (max-width:768px) {
            width: 760px;
         }
      }     
   }

   .logo-toggle{
      display: none;
      @media screen and(max-width:768px){
         display: flex;
         justify-content: center;
         align-items: center; 
         
         img{
            width: 150px;
            height: 150px;
         }                 
         .my-logo{
            text-decoration: none;
            color: #fff;            
            h3{
               margin: 0;
               font-size: 1.3rem;               
               font-weight: 600;               
            }
         }
      }  
   }
   .menu{  
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;  
      margin: 0;
      &.menu-toggle{
         transform: translateX(0%);
      } 
      @media screen and(max-width:768px){
         flex-flow: column nowrap;
         justify-content: flex-start;               
         position: fixed;
         top:0;
         right: 0;
         height: 100vh;
         width: 300px;
         padding-top: 3.5rem;
         padding-left: 1rem;
         transition: transform .6s ease-in-out;   
         transform: translateX(100%);
         background: #000;        
         z-index: 9999;
         padding-top: 20vh;
      } 
      a{        
         text-decoration: none;
         color:#fff;
         margin-right: 2rem;  
         font-weight: 600;
         transition: color .5s ease-in-out;
         &:hover{
            color: #000;
         }
         @media screen and (max-width:768px) {
            margin-bottom: 2rem;
            &:hover{
               color: #5296fc;
            }
         }       
      }
      .active{
         color:#000;
         font-size: 1.2rem;  
         @media screen and (max-width:768px) {
            color: #5296fc;
         }         
      }

      .logo{

         width: 200px;
         height: 200px;   
         z-index: 1; 
         
         
         @media screen and(max-width:768px){
            display: none;
         }  
            
      }

   }


}